div{
    background-color: #ddffff;
    height: 500px;
    width: 40%;
}

#div0{
    margin-left: 8%;
}

#div1{
    float: right;
    margin-right: 8%;
}

button{
    margin-left: 35%;
    margin-top: 175px;
    height: 150px;
    width: 30%;
    border-radius: 25%;
    border: 0px;
}

span{
    position: fixed;
}